<nav class="c-nav">
  <div class="c-nav__logo">Kotaro the Shiba</div>
  <ul class="c-nav__list">
    <li class="js-nav-bone"> <a href="404.html" title="Treats" class="c-nav__link c-nav__link--bone">
        <i class="fa-solid fa-bone"></i>
    </a>
    </li>
    <li><a href="index.html#home" class="c-nav__link">Home</a></li>
    <li><a href="index.html#about" class="c-nav__link">About</a></li>
    <li><a href="index.html#skills" class="c-nav__link">Skills</a></li>
    <li><a href="index.html#gallery" class="c-nav__link">Works</a></li>
    <li><a href="index.html#contact" class="c-nav__link">Contact</a></li>
  </ul>
</nav>